# Node dependencies
node_modules/
dist/
build/
.npm/

# Portable runtimes and downloads
node-portable/
node.zip

# DB and Upload volumes
database/
uploads/
backend/database/*.db

# Environments and Secrets
.env
backend/.env
frontend/.env
*.pem
*.key
auth_token.txt

# Terraform caches
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# System / IDE files
.vscode/
.idea/
.DS_Store
Thumbs.db
